---
import { ButtonStore } from "~/components/ButtonStore";
import { Careers } from "~/components/HomeComponents/Careers";
import { CoreValue } from "~/components/HomeComponents/CoreValue";
import { DownLoadNow } from "~/components/HomeComponents/DownLoadNow";
import { LetTalk } from "~/components/HomeComponents/LetTalk";
import { OurWord } from "~/components/HomeComponents/OurWord";
import { Testimonials } from "~/components/HomeComponents/Testimonials";
import { WhoWeAre } from "~/components/HomeComponents/WhoWeAre";
import { AppResource } from "~/const/AppResource";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <div>
    <div class="mt-4 lg:mt-0">
      <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-x-4 gap-y-8 text-center items-center">
          <div class="col-span-12 lg:col-span-6">
            <h1 class="typo-s64-w400 text-[#003B77]">
              Ignite Digital Success with
              <span class="text-sematic-2 ps-2 leading-[100%] text-krona-one">
                GODHITECH
              </span>
            </h1>
            <p class="typo-s20-w400 text-neutral-5 text-left mt-2">
              Each of our projects is an effort to harmonize performance and
              innovation, where every detail is a leap towards comprehensive
              success.
            </p>

            <div class="mt-5 lg:mt-10">
              <ButtonStore />
            </div>
          </div>
          <div class="col-span-12 lg:col-span-6">
            <img
              src={AppResource.images.img_banner_1.src}
              alt="graphics"
              class="w-[90%] mx-auto lg:ml-auto"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="py-10 lg:py-20">
      <WhoWeAre />
    </div>
    <CoreValue gapColumn={false} />
    <OurWord />
    <Testimonials />
    <Careers />
    <div class="py-10 lg:py-20">
      <LetTalk />
    </div>
    <DownLoadNow />
  </div>
</Layout>
